name: Cross-Compile Shared Libraries

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Cross-Compile with xgo
        uses: crazy-max/ghaction-xgo@e22d3c8b089adba750d5a74738b8e95d96f0c991 # v3.1.0
        with:
          xgo_version: latest
          go_version: 1.24.7
          dest: dist
          pkg: sharedlibrary
          prefix: cosmium
          targets: linux/amd64,linux/arm64,windows/amd64,windows/arm64,darwin/amd64,darwin/arm64
          v: true
          buildmode: c-shared
          buildvcs: true

      - name: Install MinGW for cross-compilation
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-mingw-w64-x86-64 gcc-aarch64-linux-gnu

      - name: Build tests for Linux
        run: |
          gcc -Wall -ldl -o dist/sharedlibrary_test_linux sharedlibrary/tests/*.c

      - name: Build tests for Windows
        run: |
          x86_64-w64-mingw32-gcc -Wall -o dist/sharedlibrary_test_windows.exe sharedlibrary/tests/*.c

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: shared-libraries
          path: dist/*
